parameters:
    database_driver:        pdo_mysql
    database_host:          localhost
    database_port:          3306
    database_name:          ~
    database_user:          ~
    database_password:      ~

    mailer_transport:       mail
    mailer_host:            127.0.0.1
    mailer_user:            ~
    mailer_password:        ~

    locale:                 en
    secret:                 ThisAintAnotherSecretTokenChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    delivery_email:         ~
    monolog_from_email:     ~
    monolog_to_email:       ~
    monolog_subject:        ~

    mongo_host:             localhost
    mongo_port:             27017
    mongo_name:             ~
